<html>
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="/static/js/qg.js"></script>
</head>
<body>
<div id="QA_grid" class="gdp-row">
  <div class="cell" id="QA_input_col">
    <form method="post" name="QA_form" class="form">
    <div id="QA_form_group" class="form-group">
      <textarea placeholder="Enter your text here" id="QA_input" class="input"></textarea>
      <button type="button" class="button" id="QA_generation_button">Generate Q&A</button>
    </div>
    </form>
  </div>
  <div class="cell" id="QA_output_col">
    <div id="QA_div" class="gpd-container">
      <h1 id="QA_header">Q&amp;A
      </h1>
      <div id="QA_pairs" class="gpd-text">Generating Q&A...
      </div>
    </div>
  </div>
</div>
</body>
</html>